<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML Meta Tags -->
    <title>Trung's Spotify Status</title>
    <meta name="description" content="A website which displays my spotify status.">
    <meta name="theme-color" content="#0096ff">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Trung">
    <meta itemprop="description" content="A website which displays my spotify status.">
    <meta itemprop="image" content="https://spotify.is-a.dev/assets/meta/banner.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://spotify.trung.is-a.dev">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Trung">
    <meta property="og:description" content="A website which displays my spotify status.">
    <meta property="og:image" content="https://spotify.trung.is-a.dev/assets/meta/banner.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Trung">
    <meta name="twitter:description" content="A website which displays my spotify status.">
    <meta name="twitter:image" content="https://spotify.trung.is-a.dev/assets/meta/banner.png">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.ico">

    <!-- Stylesheets -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> -->

    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="user-info">
            <!-- Replace "user-avatar-url" with the actual URL of the user's avatar -->
            <img src="/assets/avatar.png" alt="User Avatar" class="user-avatar">
            <!-- Replace "user-name" with the actual username -->
            <div class="user-name">Vũ Thành Trung</div>
        </div>

        <div class="credit">Made by <a href="https://discord.gg/TR8k3MtjNZ" target="_blank">Vũ Thành Trung</a> | <a href="https://github.com/vuthanhtrung2010/spotify-status" target="_blank">Github</a></div>

        <div class="space-y-0">
            <p class="mt-8 text-base leading-8 text-center text-gray-400">&copy; 2024 Trung - All Rights Reserved.</p>
        </div>

        <div class="status">
            <% if (data.isPlaying && !data.isPausing) { %>
                <img src="<%= data.track.image %>" alt="Track Image" class="track-image">
                <div>
                    <h2><a href="<%= data.track.track_link %>"><%= data.track.name %></a></h2>
                    <div class="progress-bar-container">
                        <div class="progress-bar" id="progress-bar">
                            <div class="progress-bar-background"></div>
                            <div class="progress-bar-fill" style="width: <%= (data.track.current_progress / data.track.track_duration) * 100 %>;"></div>
                        </div>
                    </div>
                    <div class="time-display">
                        <span id="start-time">00:00</span>
                        <span id="end-time"><%= data.track.track_duration %></span>
                    </div>
                    <p class="artist-name">by 
                        <span class="artists">
                            <% data.track.artists.forEach((artist, index) => { %>
                                <a href="<%= artist.link %>"><%= artist.name %></a><%= index < data.track.artists.length - 1 ? ', ' : '' %>
                            <% }); %>
                        </span>
                    </p>
                    <p class="album-name">on <a href="<%= data.track.album.link %>"><%= data.track.album.name %></a></p>
                </div>
            <% } else { %>
                <p>Currently not playing any track.</p>
            <% } %>
        </div>

        <script src="/js/status/index.js"></script>